<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dólar Today</title>
    <link rel="stylesheet" href="./static/paper.min.css">
    <link rel="stylesheet" href="./static/custom.css">
</head>

<body>
    <nav class="border split-nav">
        <div class="nav-brand">
            <h3><a href="#">Coins Today</a></h3>
        </div>
        <div class="collapsible">
            <input id="collapsible1" type="checkbox" name="collapsible1">
            <button>
                <label for="collapsible1">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </label>
            </button>
            <div class="collapsible-body">
                <ul class="inline">
                    <li><a href="#">Source Code</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row">
        {{ range . }}
        <div class="sm-6 md-4 lg-3 col">
            <div class="card" style="width: 100%; height: auto;">
                <div class="card-body">
                    <h4 style="text-align:center" class="card-title">{{ .Name }}</h4>
                    <p style="text-align:center" class="card-text">R$ {{ .Value }}</p>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</body>

</html>